[Desktop Entry]
Type=Application
Name=ThetaBetaRatioCalculator
Comment=Theta Beta Ratio Calculator
Exec=ThetaBetaRatioCalculator
Icon=ThetaBetaRatioCalculator
Categories=Utility;
